<!--welcome.html-->
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>{{greeting}}</h1>
    <img height="100px" width="150px" src="https://www.publicdomainpictures.net/pictures/90000/velka/alpaca-chewing.jpg" alt="a-chewing-alpaca">
    <h2>Welcome to my {{adjective}} Meme Generator!</h2>
    <form method="post" action="/memeresult">
      Line 1 of Meme:<br>
      <input type="text" name="user-first-ln" value="First Line of Meme">
      <br>
      Line 2 of Meme:<br>
      <input type="text" name="user-second-ln" value="Second Line of Meme">
      <br>
      Meme Type:
      <br>
      <select name="meme-type">
        <option value="one_does_not_simply">One Does Not Simply</option>
        <option value="roll_safe_think_about_it">Roll Safe, Think About It</option>
        <option value="mocking_spongebob">Mocking Spongebob</option>
        <option value="batman_slapping_robin">Batman Slapping Robin</option>
        <option value="two_buttons">Two Buttons</option>
      </select>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
